<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Your Budget</title>
    <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <script th:inline="javascript">
      //<![CDATA[
      $(function () {
      });
      //]]> 
    </script>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb h3">
              <li class="breadcrumb-item"><a href="/budgets">Budgets</a></li>
              <li class="breadcrumb-item active" aria-current="page" th:text="${budget.name}"></li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="card-body">
        <div th:each="group : ${budget.groups}">
          <div class="card" style="margin-bottom: 2em;">
            <div class="card-header">
              <h4 th:if="${!#strings.isEmpty(group.name)}"><a th:href="@{/budgets/{budgetId}/groups/{groupId}(budgetId=${budget.id},groupId=${group.id})}" th:text="${group.name}"></a></h4>
              <h4 th:if="${#strings.isEmpty(group.name)}"><a th:href="@{/budgets/{budgetId}/groups/{groupId}(budgetId=${budget.id},groupId=${group.id})}">Unnamed Group</a></h4>
            </div>
            <div class="card-body">
              <div th:each="category : ${group.categories}">
                <a th:href="@{/budgets/{budgetId}/groups/{groupId}/categories/{categoryId}(budgetId=${budget.id},groupId=${group.id},categoryId=${category.id})}" th:text="${category.name}"></a>
              </div>
              <form style="margin-top: 1.5em;" th:action="@{/budgets/{budgetId}/groups/{groupId}/categories(budgetId=${budget.id},groupId=${group.id})}" method="post">
                <button type="submit" class="btn btn-primary" th:id="|createCategory-${group.id}|">Create New Category</button>
              </form>
            </div>
          
          </div>
        </div>
        
        <div class="row" style="margin-top: 2em;">
          <div class="col">
            <form th:action="@{/budgets/{budgetId}/groups(budgetId=${budget.id})}" method="post">
              <button type="submit" class="btn btn-primary">Create Group</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>