<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Your Budget</title>
    <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb h3">
              <li class="breadcrumb-item"><a href="/budgets">Budgets</a></li>
              <li class="breadcrumb-item active" aria-current="page" th:text="${budget.name}"></li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="card-body">
        <div th:each="group : ${budget.groups}">
          <h4 th:text="${group.name}"></h4>
        </div>
      </div>
    </div>
  </body>
</html>