<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Your Budgets</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <script type="text/javascript">
      $(function () {
        $("#addBudget").click(function () {
          $.ajax({
        	  url: '/budgets',
        	  method: 'post',
        	  dataType: 'json',
        	  success : function (data) {
        		console.log(data);
        		location.reload();
        	  },
        	  error : function () {
        		console.log("There was an error creating a new budget");  
        	  }
          });
        });
      });
    </script>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="h2 col-10">
            Your Budgets
          </div>
          <div class="col-2">
            <i id="addBudget" class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush" th:each="budget : ${budgets}">
        <a href="#" class="list-group-item list-group-item-action" th:text="${budget.name}">Example Budget</a>
      </div>
    </div>
  </body>
</html>