<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Your Category</title>
    <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
  </head>
  <body>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb h3">
              <li class="breadcrumb-item"><a href="/budgets">Budgets</a></li>
              <li class="breadcrumb-item"><a th:href="@{/budgets/{budgetId}(budgetId=${group.budget.id})}" th:text="${group.budget.name}"></a></li>
              <li class="breadcrumb-item"><a th:href="@{/budgets/{budgetId}/groups/{groupId}(budgetId=${group.budget.id},groupId=${group.id})}" th:text="${#strings.isEmpty(group.name) ? 'New Group' : group.name}"></a></li>
              <li class="breadcrumb-item active" aria-current="page" th:text="${category.name}"></li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="card-body">
        <form method="post" action="">
          <input type="hidden" th:field="${category.id}"/>
          
          <!-- Category Name -->
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label form-control-lg">Name: </label>
            <div class="col-sm-10">
              <input type="text" class="form-control form-control-lg" th:field="${category.name}" placeholder="Dining Out"/>
            </div>
          </div>
          
          <!-- Category Budget Amount -->
          <div class="input-group row">
            <label for="budget" class="col-sm-2 col-form-label form-control-lg">Budget Amount: </label>
            
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="number" step=".01" class="form-control form-control-lg" th:field="${category.budget}" placeholder="100.00"/>
            
          </div>
          
          <button class="btn btn-primary btn-lg">Save</button>
        </form>
      </div>
    </div>
  </body>
</html>