<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Login</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript">
      $(function () {
	    $("#registerBtn").click(function () {
	      window.location.href = '/register';
	    });
      });
    </script>
  </head>
  <body>
    <div class="card">
      <h2 class="card-header">
        Please Login Below
      </h2>
      <div class="card-body">
        <form action="" method="post">
          <fieldset>
            <!-- use param.error assuming FormLoginConfigurer#failureUrl contains the query parameter error -->
            <div th:if="${param.error != null}" style="color: red;">
              <div>
                Failed to login.
                <div th:if="${SPRING_SECURITY_LAST_EXCEPTION != null}">
                  Reason: <span
                    th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
                </div>
              </div>
            </div>
            <!-- the configured LogoutConfigurer#logoutSuccessUrl is /login?logout and contains the query param logout -->
            <div th:if="${param.logout != null}">You have been
              logged out.</div>
            <div class="form-group">
              <label for="username">Username</label>
              <input class="form-control" type="text" th:field="${user.username}" />
            </div>
            <div class="form-group">
              <label for="password">Password</label> 
              <input type="password" class="form-control" th:field="${user.password}" />
            </div>
            <div>
              <button type="submit" class="btn">Log in</button>
              <button id="registerBtn" type="button"
                class="btn btn-primary">Register</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </body>
</html>