<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>Please Register</title>
    <script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
    <script type="text/javascript">
      $(function () {
        if ($("#errorMsg").text() != "")
      	{
      	  $("#errorMsg").removeClass("d-none");
      	}
      });
    </script>
  </head>
  <body>
    <div class="card">
      <h2 class="card-header">
        Please Register Below
      </h2>
      <div class="card-body">
        <div id="errorMsg" class="alert alert-danger d-none" role="alert" th:text="${error}"></div>
        <form action="" method="post">
          <div class="form-group">
            <label for="username">Email address</label>
            <input type="email" class="form-control" th:field="${user.username}" aria-describedby="emailHelp" placeholder="Enter email"/>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" th:field="${user.password}" placeholder="Password"/>
          </div>
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" th:field="${user.confirmPassword}" placeholder="Password"/>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>

